
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
      
      <button type="button" data-toggle="modal" data-target="#addtransaction" class="btn btn-primary" ><i class="fa fa-plus"></i>  Add Transaction</button>
       
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-product" class="col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading adwcsh">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group col-sm-4 adwcs">
              <label class="control-label" for="input-name">{{ column_rp_payment_id }}</label>
              <input type="text" name="filter_rp_transaction_id" value="{{ filter_rp_transaction_id }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>

              <div class="form-group col-sm-4 adwcs">
              <label class="control-label" for="input-name">{{ column_oc_id }}</label>
              <input type="text" name="filter_oc_id" value="{{ filter_oc_id }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
          
            <div class="form-group col-sm-4 adwcs">
              <label class="control-label" for="input-status">{{ column_rp_order_id }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                
                
                
                  
                

                  {% if filter_status == '1' %}

                
                
                  
                
                
                <option value="1" selected="selected">{{ column_rp_captured }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="1">{{ column_rp_captured }}</option>
                
                
                
                  
                

                  {% endif %}
                  {% if filter_status == '0' %}

                
                
                  
                
                
                <option value="0" selected="selected">{{ column_rp_failed }}</option>
                
                
                
                  
                

                  {% else %}

                
                
                  
                
                
                <option value="0">{{ column_rp_failed }}</option>
                
                
                
                  
                

                  {% endif %}


              
              
                
              
              
              </select>
            </div>
            <div class="text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                     
                      <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">#</a> {% else %} <a href="{{ sort_name }}">#</a> {% endif %}</td>

                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_rp_payment_id }}</a> {% else %} <a href="{{ sort_model }}">{{ column_rp_payment_id }}</a> {% endif %}</td>

                        <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_rp_order_id }}</a> {% else %} <a href="{{ sort_name }}">{{ column_rp_order_id }}</a> {% endif %}</td>

                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_oc_id }}</a> {% else %} <a href="{{ sort_model }}">{{ column_oc_id }}</a> {% endif %}</td>

                         <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_customer_id }}</a> {% else %} <a href="{{ sort_model }}">{{ column_customer_id }}</a> {% endif %}</td>


                        <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_amount }}</a> {% else %} <a href="{{ sort_name }}">{{ column_amount }}</a> {% endif %}</td>

                      <td class="text-left">{% if sort == 'p.model' %} <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_captured }}</a> {% else %} <a href="{{ sort_model }}">{{ column_captured }}</a> {% endif %}</td>

                      <td class="text-left">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_description }}</a> {% else %} <a href="{{ sort_price }}">{{ column_description }}</a> {% endif %}</td>

                      <td class="text-left">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_created }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_created }}</a> {% endif %}</td>

                     <td class="text-left">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_entry_type }}</a> {% else %} <a href="{{ sort_price }}">{{ column_entry_type }}</a> {% endif %}</td>

                         <td class="text-left">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_ledger_id }}</a> {% else %} <a href="{{ sort_price }}">{{ column_ledger_id }}</a> {% endif %}</td>


                     
                      

                    
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if all_payments %}
                  {% for all_payment in all_payments %}
                  <tr>
                    <td class="text-center">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>
                  
                    <td class="text-left">{{ all_payment.transaction_log_id }}</td>
                    <td class="text-left">{{ all_payment.razarpay_payment_id }}</td>
                      <td class="text-left">{{ all_payment.razorpay_order_id }}</td>
                    <td class="text-left">{{ all_payment.oc_order_id }}</td>
                     <td class="text-left">{{ all_payment.customer_id }}</td>
                      <td class="text-left">{{ all_payment.amount }}</td>
                    <td class="text-center"> 
                     {% if all_payment.captured == '1' %}
                    <h5><span class="label label-success">Captured</span></h5>
                     {% else %}
                         <h5><span class="label label-danger">Failed</span></h5>
                       {% endif %}
                    </td>
                      {# <td class="text-left"> {{ all_payment.captured }}</td> #}
                    <td class="text-left">{{ all_payment.description }}</td>
                      <td class="text-left">{{ all_payment.created_at }}</td>
                    <td class="text-left">{{ all_payment.entry_type }}</td>
                    <td class="text-center">{{ all_payment.ledger_id }}</td>
               
                    <td class="text-right"><a href="{{ all_payment.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
.custom-form{
       line-height: 3.5rem;  
    font-family: sans-serif;
    font-size: 17px;
}
.tb-style{
    margin-top: 50px;  
    margin-left: 10px;
}


</style>

{# Modal #}
  <div class="modal fade" id="addtransaction">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Razorpay Transaction</h4>
      </div>
      <div class="modal-body"  style="width: fit-content;">
     
                   <div class="form-group custom-form">
                      <label class="col-sm-6 control-label" for="" >Razorpay Transaction Id</label>
                      <div class="col-sm-6">
                      <input type="text" name="razarpay_payment_id" value="" placeholder="" id="razarpay_payment_id" class="form-control"/>
                      </div>
                    </div>
                   
                     
                     <div id="razorpay-response"> </div>
                   
           <div id="loader" style="display:none;"><img src="http://v3.robomart.local/image/loader.gif" width="60px;" style="margin-top: 60px;   margin-left: 50%;  "alt=""></div>     
                    
      </div>
      <div class="modal-footer" style="margin-top: 44px;
">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="get_transaction" class="btn btn-primary"><i class="fa fa-get-pocket"></i>  Fetch</button>
         <button type="button" style="display:none;"id="add_transaction" class="btn btn-primary"><i class="fa fa-get-pocket"></i>  Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_rp_transaction_id = $('input[name=\'filter_rp_transaction_id\']').val();

	if (filter_rp_transaction_id) {
		url += '&filter_rp_transaction_id=' + encodeURIComponent(filter_rp_transaction_id);
	}

	var filter_oc_id = $('input[name=\'filter_oc_id\']').val();

	if (filter_oc_id) {
		url += '&filter_oc_id=' + encodeURIComponent(filter_oc_id);
	}


	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=aps_razorpay/aps_razorpay&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});


$("#get_transaction").click(function(){  console.log();
  $.ajax({
   	url: 'index.php?route=aps_razorpay/aps_razorpay/getTransaction&user_token={{ user_token }}&transaction_id=' +  encodeURIComponent($('#razarpay_payment_id').val()),
    dataType:'json',
    beforeSend(xhr){
      $('#loader').show();
      $('#razorpay-response').html('');
    },
    success: function(result){
              console.log(result.method);
              $('#razorpay-response').html(result.message);            
              $('#loader').hide();
               if(result.error == '0' ){
                 if(result.method == 'upi'){

                 }
                $('#add_transaction').show();
               }else{
                  $('#add_transaction').hide();
               }
              
              }
  });
});


$("#add_transaction").click(function(e){ 

if(confirm('Are you sure to add this transaction') == true){
 $.ajax({
   	url: 'index.php?route=aps_razorpay/aps_razorpay/addPayment&user_token={{ user_token }}&transaction_id=' +  encodeURIComponent( $('#razarpay_payment_id').val() ),
    data: new FormData(document.querySelector('#form')),
    dataType:'json',
    processData: false,
    contentType: false,
    type:'post',
    beforeSend(xhr){
      $('#loader').show();
      $('#razorpay-response').html('');
    },
    success: function(result){
              $('#razorpay-response').html(result.message);              
               $('#loader').hide();
               $('#get_transaction').show();  
               $('#add_transaction').hide(); 
               if(result.notes){
                $('#razorpay-response').append(result.notes);  
                
               }                  
              }
  });
}

});


//--></script></div>
{{ footer }} 
